.container
  .row
    .col-lg-12.text-center
      %h2 Über
      %hr.star-light/
  .row
    .col-lg-4.col-lg-offset-2
      %p
        Die Sopranistin Sarah Hanikel wurde in Hamburg geboren. Seit September 2008 ist sie Stipendiatin der staatlich-bischöflichen Studienförderung Cusanuswerk e.V. und studiert seit 2007 bei Prof. Julie Kaufmann an der Universität der Künste Berlin.
        Sie sang u. a. 2011 die Rolle der Ernestina in »L`occasione fa il ladro« von Rossini in einer Inszinierung von Frank Hilbrich und 2009 die Fe-An-Nich-Ton in einer Inszinierung von Dagny Müller der Operette »Ba-Ta-Clan« von Offenbach. Im Maxim Gorki Theater war sie solistisch mit der Sopranpartie aus »Peer Gynt« von Grieg in der Produktion des Wiener Burgtheaters »Alle Toten fliegen hoch« von Joachim Meyerhoff zu sehen.
    .col-lg-4
      %p Von 2006 bis 2007 war sie Mitglied des Hamburger Kammermusikensembles »Merlini«, welches unter der Leitung von Petra Bensieck steht. Bis 2007 widmete sie sich hauptsächlich dem Kunstlied und der geistlichen Musik. Sie sang u. a. unter der Leitung von Joachim Winkel die Sopranpartien im Messiah von Händel, in der Johannes-Passion von Bach und im Requiem von Mozart. Unter der Leitung von Claus Bantzer sang sie die Solopartie im »African Sanctus« von David Fanshawe. Sie absolvierte Meisterkurse bei Irwin Gage, Josef Protschka und Barbara Schlick und ist Gewinnerin des Lotte-Lehmann-Förderwettbewerbes (2003) und des Hermann-Rauhe-Preises (2006).
    .col-lg-8.col-lg-offset-2.text-center
      %a.btn.btn-lg.btn-outline{:href => "docs/MusikalischerLebenslauf.pdf"}
        %i.fa.fa-download
        Download Musikalischer Lebenslauf
      %a.btn.btn-lg.btn-outline{:href => "docs/repertoire.pdf"}
        %i.fa.fa-download
        Download Repertoire
