.container
  .row
    .col-lg-12.text-center
      %h2 Contact Me
      %hr.star-primary/
  .row
    .col-lg-8.col-lg-offset-2
      %form{:role => "form"}
        .row
          .form-group.col-xs-12.floating-label-form-group
            %label{:for => "name"} Name
            %input.form-control{:name => "name", :placeholder => "Name", :type => "text"}/
        .row
          .form-group.col-xs-12.floating-label-form-group
            %label{:for => "email"} Email Address
            %input.form-control{:name => "email", :placeholder => "Email Address", :type => "email"}/
        .row
          .form-group.col-xs-12.floating-label-form-group
            %label{:for => "message"} Message
            %textarea.form-control{:placeholder => "Message", :rows => "5"}
        %br/
        .row
          .form-group.col-xs-12
            %button.btn.btn-lg.btn-success{:type => "submit"} Send
