.container
  .row
    .col-lg-12.text-center
      %h2 Kontakt
      %hr.star-primary/
  .row
    .col-lg-8.col-lg-offset-2.col-md-12.col-sm-12.text-center
      %h4
        %i.fa.fa-fw.fa-envelope
        %a{:href => "mailto:sarah.hanikel@gmail.com"} sarah.hanikel@gmail.com
