.container
  .row
    .col-lg-12.text-center
      %h2 Portfolio
      %hr.star-primary/
  .row
    .col-sm-4.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/1-opernszenen/1.jpg"}/
    .col-sm-4.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/1-opernszenen/2.jpg"}/
    .col-sm-4.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/1-opernszenen/3.jpg"}/
    .col-sm-4.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/2-calisto/1.jpg"}/
    .col-sm-4.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/2-calisto/2.jpg"}/
    .col-sm-4.portfolio-item
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
        .caption
          .caption-content
            %i.fa.fa-search-plus.fa-3x
        %img.img-responsive{:alt => "", :src => "img/portfolio/2-calisto/3.jpg"}/
