/ Portfolio Modals
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Rinaldo
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/1-opernszenen/1.jpg"}/
            %p Rinaldo is an opera by George Frideric Handel composed in 1711. It is the first Italian language opera written specifically for the London stage. The libretto was prepared by Giacomo Rossi from a scenario provided by Aaron Hill
            %ul.list-inline.item-details
              %li
                Inszenierung:
                %strong
                  Mascha Pörzgen
              %li
                Date:
                %strong
                  February 2011
              %li
                Roles:
                %strong
                  Almirena (Sarah Hanikel)
              %li
                Photographer:
                %strong
                  Waldemar Kremser
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Rinaldo
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/1-opernszenen/2.jpg"}/
            %p Rinaldo is an opera by George Frideric Handel composed in 1711. It is the first Italian language opera written specifically for the London stage. The libretto was prepared by Giacomo Rossi from a scenario provided by Aaron Hill
            %ul.list-inline.item-details
              %li
                Inszenierung:
                %strong
                  Mascha Pörzgen
              %li
                Date:
                %strong
                  February 2011
              %li
                Roles:
                %strong
                  Almirena (Sarah Hanikel) & Rinaldo (Amélie Saadia)
              %li
                Photographer:
                %strong
                  Waldemar Kremser
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Rinaldo
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/1-opernszenen/3.jpg"}/
            %p Rinaldo is an opera by George Frideric Handel composed in 1711. It is the first Italian language opera written specifically for the London stage. The libretto was prepared by Giacomo Rossi from a scenario provided by Aaron Hill
            %ul.list-inline.item-details
              %li
                Inszenierung:
                %strong
                  Mascha Pörzgen
              %li
                Date:
                %strong
                  February 2011
              %li
                Roles:
                %strong
                  Almirena (Sarah Hanikel)
              %li
                Photographer:
                %strong
                  Waldemar Kremser
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 La Calisto
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/2-calisto/1.jpg"}/
            %p La Calisto is an opera by Francesco Cavalli from a libretto by Giovanni Faustini based on the mythological story of Callisto
            %ul.list-inline.item-details
              %li
                Inszenierung:
                %strong
                  Matthias Schönefeldt
              %li
                Date:
                %strong
                  Juli 2012
              %li
                Role/Partie:
                %strong
                  Pane (Sarah Hanikel)
              %li
                Photographer:
                %strong
                  Waldemar Kremser
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/2-calisto/2.jpg"}/
            %p La Calisto is an opera by Francesco Cavalli from a libretto by Giovanni Faustini based on the mythological story of Callisto
            %ul.list-inline.item-details
              %li
                Inszenierung:
                %strong
                  Matthias Schönefeldt
              %li
                Date:
                %strong
                  Juli 2012
              %li
                Role/Partie:
                %strong
                  Pane (Sarah Hanikel)
              %li
                Photographer:
                %strong Waldemar Kremser
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary/
            %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/2-calisto/3.jpg"}/
            %p La Calisto is an opera by Francesco Cavalli from a libretto by Giovanni Faustini based on the mythological story of Callisto
            %ul.list-inline.item-details
              %li
                Inszenierung:
                %strong
                  Matthias Schönefeldt
              %li
                Date:
                %strong
                  Juli 2012
              %li
                Role/Partie:
                %strong
                  Pane (Sarah Hanikel)
              %li
                Photographer:
                %strong Waldemar Kremser
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
